body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 405px) {
    body {
        font-size: 20px;
    }
}

.jumbotron {
    background-color: #156b76;
}

.card {
    background-color: #f6f285;
}

.card-body {
    background-color: #96b3dc;
}

.list-group-item {
    background-color: #a6aaaa;
}

.cont {
    justify-content: center;
}

.cardStyle {
    width: 20px;
    display: inline-block;
}

.card-body {
    height: 212px;
}

.team-area {
    text-align: center;
}

footer,
footer p {
    background-color: #58b0b3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}